<nav class="gda-navbar">
    <a routerLink="/" class="brand">
        <div class="logo-image"></div>

        <div class="brand-text">
        <span class="brand-top">Fundación</span>
        <span class="brand-main">Granitos de Arena</span>
        <span class="brand-bottom">Colombia</span>
        </div>
    </a>

    <div class="nav-links">
        <a routerLink="/">Inicio</a>
        <a routerLink="/about">Nosotros</a>
        <a routerLink="/projects">Proyectos</a>
        <a routerLink="/impact">Impacto</a>
        <a routerLink="/volunteer">Voluntariado</a>
    </div>
</nav>