<footer class="footer">

    <div class="footer-content">

        <div class="footer-brand">

        <div class="footer-logo"></div>

        <div class="footer-brand-text">
            <span class="footer-top">Fundación</span>
            <h2>Granitos de Arena</h2>
            <span class="footer-bottom-text">Colombia</span>

            <p>
            Fundación juvenil que impulsa educación, nutrición,
            liderazgo y participación ciudadana en comunidades
            de Colombia.
            </p>
        </div>

        </div>
    </div>

    <div class="footer-divider"></div>

    <div class="footer-bottom">
        <span>© 2026 Fundación Granitos de Arena Colombia</span>

        <span>
        Cada granito cuenta.
        </span>
    </div>

</footer>